{% extends 'base.html' %}

{% block extra_styles %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"],
input[type="email"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.checkbox-group label {
    margin-right: 10px;
}
.form-errors, .formset-errors {
    color: red;
    margin-top: 10px;
}
.dark-blue-links a {
    color: darkblue;
    text-decoration: none;
    margin-right: 10px;
}
.dark-blue-links a:hover {
    text-decoration: underline;
}
</style>
{% endblock %}

{% block content %}
<div class="dark-blue-links">
    {% if restaurant %}
        <a href="{% url 'analyze_customer_data' restaurant.id %}">Kundendaten Analyse</a>
        <a href="{% url 'create_event' restaurant.id %}">Event erstellen</a>
        <a href="{% url 'manage_events' restaurant.id %}">Events verwalten</a>
        <a href="{% url 'create_special_offer' restaurant.id %}">Angebot erstellen</a>
        <a href="{% url 'manage_special_offers' restaurant.id %}">Angebote verwalten</a>
    {% endif %}
</div>
<h1>Kundendaten Analyse</h1>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Enter</button>
</form>
{% if data %}
    <img src="data:image/png;base64,{{ data }}" alt="Customer Data Analysis">
{% endif %}
{% endblock %}
